{% extends 'myapp/base.html' %}
{% block body_block %}
    <div>
        <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="container">
                    {% if email %}
                        <span class="lead">Your new password is sent to: {{ email }} </span><br><br>
                        <span class="lead">If you haven't received the email, check your spam folder</span><br><br>
                        <a class="lead" href="{% url "myapp:login" %}"> Login</a>
                    {% else %}
                        <label for="username">Username</label>
                        <input type="text" placeholder="Enter Username" name="username" class="form-control" required>
                        <button type="submit">Submit</button>
                    {% endif %}
                    </div>
            </form>
    </div>
{% endblock %}